*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#app{
    background-image: url('./mines2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1920px;
   backdrop-filter: blur(2px);
    display: flex;
    flex-direction: column;
    align-items: center;
    /*align-self: center;*/

}
.wrap_minsweep_field{
    margin: 200px 0;
    border: 10px solid rgb(20 17 17 / 81%);
    border-style: ridge;
}
.theme{
    background: url('/sun-day.png');
    display: block;
    background-repeat: no-repeat;
    position: fixed;
    top: 15px;
    left: 15px;
    background-color: #666;
    border-top: 3px solid rgb(184, 179, 179);
    border-left: 3px solid rgb(184, 179, 179);
    border-right:3px solid rgb(145, 144, 144);
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.minsweep_elem{
    height:25px;
    width: 25px;
    font-family: 'Nova Square', cursive;
    font-size: 15px;
    padding-top: 4px;
    font-weight: 600;
    text-align: center;
    border-top: 3px solid rgb(96 90 90);
    border-left: 3px solid rgb(96 90 90);
    border-bottom:3px solid rgb(52 51 51);
    border-right:3px solid rgb(52 51 51);
    background: rgb(0, 0, 0);
    cursor: pointer;
}
.wrap_minsweep{
    margin: auto 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    box-shadow: inset 0px 0px 2px 1px white;
    box-shadow: 0px 0px 10px 1px rgb(47, 45, 45);
    
}

.timer-elem{
    width: 25%;
    height: 60%;
    background:rgba(156, 150, 175, 0.672);
    color: rgb(53, 51, 51);
    font-family: 'Nova Square', cursive;
    font-size: 30px;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0px 0px 3px 1px rgb(4, 4, 4);
    letter-spacing:-3px;
}

.smile-elem{
    width: 15%;
    height: 60%;
    background:rgba(156, 150, 175, 0.672);
    box-shadow: inset 0px 0px 2px 1px rgb(4, 4, 4);
    cursor: pointer;
}
.result-panel{
    /*margin-top: 200px;*/
    width: 100%;
    height: 100px;
    background: #121010c7;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-top: 5px solid rgb(96 90 90);
    border-left: 5px solid rgb(96 90 90);
    border-bottom:5px solid rgb(120 113 113);
    border-right:5px solid rgb(120 113 113);
    box-shadow: 0px 0px 10px 1px rgb(47, 45, 45);
}

.reaction-elem{
    width: 100%;
    height: 100%;
    display: block;
    background-image: url('/smile.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}


.active{
    border:1px solid gray;
    background: rgb(97 90 90);
    color: white;
}
.active-2{
    background-image: url('/pngegg.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.active-3{
    background-image: url('/mine1.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.loss{
    background-image: url('/biaoqing.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.click-panel{
    width: 100%;
    height: 100px;
    background: #121010c7;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-top: 5px solid rgb(96 90 90);
    border-left: 5px solid rgb(96 90 90);
    border-bottom:5px solid rgb(120 113 113);
    border-right:5px solid rgb(120 113 113);
    box-shadow: 0px 0px 10px 1px rgb(47, 45, 45);
    /*margin-bottom: 200px;*/
}

.click-text{
    color: rgb(255, 255, 255);
    font-family: 'Nova Square', cursive;
    font-size: 20px;
}
.popup{
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    margin: 0 auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(17, 17, 17, 0.483);
    transition: 1s;
    cursor: pointer;
}

.popup-text{
    color: red;
    font-family: 'Nova Square', cursive;
    font-size: 30px;
    margin: 0 auto;

}

.menu-dificult{
    position: fixed;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu-dificult span{
    color: rgb(235, 236, 240);
    font-family: 'Nova Square', cursive;
    font-size: 30px;
    margin-right: 15px;
    cursor: pointer;
}
.menu-dificult span:hover{
    color: rgb(95, 94, 94);
}

.sound-active{
    width: 25px;
    height: 25px;
    background: #666;

}
.sound-active::before{
    content: 'Звук';
    display: block;
    color: white;
    font-size: 15px;
    font-weight: 600;
    width: 50px;
    height: 10px;
    position: relative;
    top: -19px;
    left: -5px;
}

.result{
    position: fixed;
    top: 15px;
    right: 15px;
    width: 40px;
    height: 40px;
    background-image: url('/result.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;

}
.result-popup{
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    margin: 0 auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(17, 17, 17, 0.483);
    transition: 1s;
    cursor: pointer;
}
.result-list{
    background-color: rgb(243, 238, 238);
    margin: 0 auto;
    width: 320px;
    padding: 20px;
    border-radius: 5px;
    /*height: 100%;*/
}
.list-ol{
    margin-left: 40px;
}
.title-res{
    color: rgb(7, 7, 7);
    text-align: center;
    font-family: 'Nova Square', cursive;
    font-size: 20px;
    margin-bottom: 15px;
}
.ol-list-item{
    text-align: center;
    color: rgb(41, 120, 185);
    font-family: 'Nova Square', cursive;
    font-size: 15px;
    margin-bottom: 15px;
}
.coun-mines{
    padding: 5px;
    width: 45px;
    color: rgb(0, 0, 0);
    background: rgb(174, 171, 171);
}
.wrap-coun-mines::before{
    content: 'Мины';
    display: block;
    font-size: 15px;
    font-weight: 600;
    width: 50px;
    height: 10px;
    position: relative;
    top: -10px;
    left: 0px;
}
